/* ログイン、ログアウト、ユーザー登録ボタン */
.btn_wrap {
  text-align: right;
  margin-right: 50px;
}

.btn_wrap .button {
  border: 1px solid #36a2eb;
  text-align: center;
  display: inline-block;
  padding: 5px;
  width: 110px;
  margin: 7px;
  color: #36a2eb;
  background-color: #fff;
  border-radius: 8px;
  font-family: "proxima-nova-soft", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: box-shadow 200ms ease-out;
}

.btn_wrap .button:hover {
  color: #fff;
  background-color: #36a2eb;
}

/* 投稿ボタン */

.form {
  width: 100%;
  text-align: center;
  margin: 30px 0;
}

.form .submit {
  border: 1px solid #36a2eb;
  text-align: center;
  display: inline-block;
  padding: 5px;
  width: 110px;
  margin: 7px 14px;
  color: #fff;
  background-color: #36a2eb;
  border-radius: 8px;
  font-family: "proxima-nova-soft", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: box-shadow 200ms ease-out;
}

.form .submit:hover {
  color: #36a2eb;
  background-color: #fff;
}

/* input */

input {
  height: 2.4em;
  width: 300px;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

/* コンテンツ */
.main-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-list_item {
  margin-bottom: 10px;
}

.main-list_item .list {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 800px;
  padding: 10px 30px 10px 20px;
}

.main-list_item .list .user_name,
.main-list_item .list .date {
  font-size: 12px;
  color: #ccc;
}

/* 三点リーダーのデザイン */
.checkbox {
  display: none;
}

.three_point_button {
  position: absolute;
  top: 5px;
  right: 0;
}

.button_area {
  position: absolute;
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  z-index: 10;
}

.point {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  padding-bottom: 5px;
}

.three_point_button .checkbox:checked+label+.button_area {
  display: none;
}

.button_form {
  text-align: center;
}

.button_form:first-child {
  border-bottom: 1px solid #ccc;
}

.button_del,
.button_update {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/* main-title */

.main-title {
  margin: 20px 0 0 60px;
  font-size: 24px;
}

.top_link {
  padding: 20px 0 0 20px;
}

.top_link a {
  text-decoration: none;
  color: #000;
}

.top_link a:hover {
  text-decoration: none;
  color: #36a2eb;
}

.error {
  text-align: center;
  color: #dc143c;
}

.form span {
  display: block;
  width: 100px;
  margin-right: 10px;
}

.form p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}